header.backImage{
    background-image: url("../../img/header.jpeg");
    background-attachment: scroll;       /*background-attachment özelliği, bir arka plan görüntüsünün sayfanın*/
    background-position: center center;  /*geri kalanıyla birlikte kaydırılıp kaydırılmayacağını ayarlar.*/
    background-repeat: no-repeat;
    background-size: cover;  /*cover; Görüntüyü uzatması veya kenarlarından birini biraz kesmesi 
    gerekse bile, tüm kabı kaplayacak şekilde arka plan görüntüsünü yeniden boyutlandırır.*/
}

header.backImage .backImage-sub{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style: italic;
    font-family: "Roboto-Slab" system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.backImage .backImage-heading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainNavbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand{
    color: #de3545;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: .063em;
}

#mainNavbar .navbar-nav .nav-item .nav-link{
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.06em;
}

#mainNavbar .navbar-nav .nav-item .nav-link:active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover{
    color: #fa836a;
}

@media (max-width:991.98px) {
    header.backImage{
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.backImage .backImage-heading{
        font-size: 2rem;
        line-height: 2rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link{
        color: #212529;
    }
}

@media (min-width:992px) {
    header.backImage{
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #mainNavbar{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item{
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child{
        margin-right: 0;
    }

    #mainNavbar.navbar-mobile .navbar-brand{
        font-size: 1.20em;
        transition: font-size 0.3s ease-in-out
    }

    #mainNavbar.navbar-mobile{
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}







